version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: mon-postgres
    restart: always
    environment:
      POSTGRES_USER: guedesal
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: guedesal_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - postgres-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U guedesal -d guedesal_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - postgres-network
    depends_on:
      - postgres

volumes:
  postgres-data:
    driver: local

networks:
  postgres-network:
    driver: bridge
